*, *::before, *::after{
  box-sizing: border-box;
}
body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{
  margin: 0;
}
body {
  background: #fafafa;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  font-weight: 500;
  font-size: 14px;
  color: #bdbdbd;
  line-height: 18px;
  letter-spacing:  -.035em;
}
h1{
  text-align: center;
  font-weight: 500;
  line-height: 27px;
  font-size: 20px;
}
small{
  font-size: 10px;
  color:  #828282;
  line-height: 15px;
  text-align: center;
}
a{
  text-decoration: none;
}
